body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0f0e;
    color: #ffffff;
}

header {
    background: #000000;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 300px;
    width: 90%;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #7cff7a;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h1, h2 {
    color: #7cff7a;
}

.card {
    background: #121917;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    background: #000000;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #aaaaaa;
}

button{
    font-family: "kanit";
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
}

button:hover {
    background-color: #29b134;
    scale: 1.2;
    color: #d6d6d6;
    transition: 500ms;
    font-family: "kanit";
}
