    body {
        font-family: sans-serif;
        background: #0074D9;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
    
    form {
        background: white;
        color: black;
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    input, button {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }
    
    button {
        background: #0074D9;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .error {
        color: red;
        font-size: 14px;
        display: none;
    }
    

    #shop{
        border-color: #fff;
        border-style: solid;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 300px;
        margin: 25px;
    }