p{
    text-decoration: underline #000000;
}

a{
    text-decoration: underline #000000;
}

h1{
    text-decoration: overline #000000;
}

span p{
    text-decoration:line-through #000000;
}

h2{
    text-decoration: overline #000088;
}

a{
    text-decoration: dashed underline #ff00ff;
}

.warning{
    text-decoration:wavy #ff0000;
}

#youtube{
    text-transform: lowercase;
    text-decoration: underline #ff0000;
}

#shadow{
    text-shadow: 6px 4px 2px #00ff00;
}