@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    text-align: center;
    color: #ffffff;
    font-family: "Kanit";
    background-color: #212121;
}

#continue{
    font-family: "kanit";
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
}

#continue:hover {
    background-color: #00d312;
    scale: 1.2;
    color: #d6d6d6;
    transition: 500ms;
    font-family: "kanit";
}


img{
    margin: auto;
    display: block;
    border-radius: 16px 16px;
}

#RTX4080super{
    height: 300px;
    width: 500px;
}

/* makes transition smooth */

h2 {
    transition: transform 500ms ease, text-shadow 500ms ease;
}

h2:hover {
    transform: scale(1.1);
    text-shadow: 2px 3px 1px #444;
}

h1 {
    transition: transform 500ms ease, text-shadow 500ms ease;
}

h1:hover {
    transform: scale(1.1);
    text-shadow: 2px 3px 1px #444;
}


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #121212; 
}
